{% extends 'base_admin.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Business creation</h1>

    <hr/>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}

    <ul  class="list-inline">
        <li  class="list-inline-item">
            <a class="btn btn-secondary" href="{{ path('admin_business_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
