{# empty Twig template #}

<section id="about" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-multimedia-12"></span>
        <h3>A Maior Feira de Emprego de Turismo em Portugal</h3>
        <p class="text-alt"><span class="highlight">Durante 2 dias,</span> mais de 10.000 oportunidades de abraçares o mundo do trabalho
        </p>
        <br />
        <br />

        <div class="tabs-wrapper tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#horizontal_tab1" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-code"></span> Informação geral</h6>
                    </a>
                </li>
                <li>
                    <a href="#horizontal_tab2" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-rocket"></span> O que podes encontrar</h6>
                    </a>
                </li>
                 <li>
                     <a href="#horizontal_tab3" data-toggle="tab">
                         <h6 class="heading-alt"><span class="fa fa-external-link"></span> As nossas sugestões</h6>
                     </a>
                 </li>
            </ul>

            <div class="tab-content">
                <div id="horizontal_tab1" class="tab-pane fade active in">
                    <div class="col-sm-5 img-column">
                        <img src="{{ asset('bundles/app/assets/img/imac-371x412.png') }}" alt="" class="img-responsive" />
                        {#<img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />#}
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>Acerca do evento</h6>
                        <p>A Bolsa de Empregabilidade é um evento onde vais encontrar a porta de entrada no mercado de trabalho. É o local de contacto entre employers e employees onde tu tens de estar.</p>
                        <p>O Fórum Turismo promove, pelo terceiro ano consecutivo, a realização da Bolsa de Empregabilidade que visa promover a empregabilidade de jovens formados em Turismo ou profissionais em busca de novas oportunidades. </p>
                        <p>Depois de duas edições, onde mais de 60 empresas já participaram e disponibilizaram o total de 4800 ofertas de trabalho, estamos de volta para a maior edição de sempre da Bolsa de Empregabilidade.</p>
                        <p>Este ano, a acompanhar o sucesso do Turismo em Portugal, trazemos para ti mais de 60 empresas que no total têm mais de 10 mil ofertas de trabalho na BTL - Bolsa de Turismo de Lisboa. </p>
                    </div>
                </div>

                <div id="horizontal_tab2" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        {#<img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />#}
                        <img src="{{ asset('bundles/app/assets/img/imac-371x412.png') }}" alt="" class="img-responsive" />
                    </div>
                    
                    <div class="col-sm-7 align-left">
                        <h6>O que podes encontrar</h6>
                        <p>60 empresas à procura de talento.</p>
                        <p>60 diretores de Recursos Humanos disponiveis para falar contigo</p>
                        <p>Área restrita para entrevistas no momento</p>
                        
                        <ul>Palestras
                            <li>- Pitch de apresentação das empresas</li>
                            <li>- O que procura quem contrata</li>
                            <li>- Q&A aos líderes do Turismo</li>
                        </ul>
                        
                        <p>Networking com empresas e estudantes a nível nacional </p>
                        <p>Muitas oportunidades de alcançares o teu sonho</p>
                        
                    </div>

                    
                </div>

                 <div id="horizontal_tab3" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        {#<img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />#}
                        <img src="{{ asset('bundles/app/assets/img/imac-371x412.png') }}" alt="" class="img-responsive" />
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>As nossas sugestões</h6>
                        <p>Faz o teu trabalho de casa e procura saber mais sobre quem está a contratar.</p>
                        <p>Atualiza e traz contigo muitos currículos.</p>
                        <p>Antecipa as possíveis perguntas que te possam fazer.</p>
                        <p>Não te acanhes e fala com as empresas nas quais gostarias de trabalhar.</p>
                        <p>Não te esqueças, não há uma segunda oportunidade para causar uma primeira boa impressão. Tem atenção ao dress code.</p>
                        
                        {#<ul>Números do Evento
                            <li>10 000 ofertas de emprego.</li>
                            <li>60 empresas</li>
                            <li>2 dias de evento</li>
                            <li>20 palestras</li>
                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>