{# empty Twig template #}
<section id="feedback" class="section align-center" style="padding-top: 25px;">
		<div class="container">
			<h5 class="heading-alt">TESTIMONIALS</h5>
			<p class="text-alt" style="margin-bottom: 80px;">what people <span class="highlight">say</span></p>

			<div class="row">
				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Esse maxime tempore maiores laboriosam nobis, aut cum quidem est ab ipsam soluta voluptate totam quibusdam quo neque doloremque, provident asperiores error pariatur.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client1.jpg')"></div>

							<strong class="name">Rebecca Smith</strong>
							<small class="text-alt company">Designer @ Baffle</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Illo repellat dolores laudantium quos, velit, reprehenderit veniam accusamus neque laboriosam tenetur aut quaerat, doloribus autem, facere molestiae? Quisquam ducimus, nesciunt mollitia.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client2.jpg')"></div>

							<strong class="name">Michael Scherzzinger</strong>
							<small class="text-alt company">CTO @ Flopbox</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Recusandae minima similique rem. Neque quisquam, blanditiis cum, ex ullam obcaecati beatae nobis quos, officia rerum, exercitationem ducimus totam quibusdam! Quia, illum.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client3.jpg')"></div>

							<strong class="name">Mike Meyers</strong>
							<small class="text-alt company">VP Sales @ Pell Inc.</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>