{# empty Twig template #}
<section id="feedback" class="section align-center" style="padding-top: 25px;">
    <div class="container">
        
        <i class="fa fa-users fa-3x"></i>
        
        <h3>{% trans from 'messages_2019'%}Testemunhos{% endtrans %}</h3>
        
        {#<h5 class="heading-alt">Testemunhos</h5>#}
        <p class="text-alt" style="margin-bottom: 80px;">{% trans from 'messages_2019'%}o que as pessoas{% endtrans %}<span class="highlight"> {% trans from 'messages_2019'%}dizem{% endtrans %}</span></p>

        <div class="row">
            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">{% trans from 'messages_2019'%}É isso mesmo que eu quero que aconteça ao turismo, que seja cada vez mais um motor de desenvolvimento económico, mas seja também cada vez mais um motor de criação de emprego.{% endtrans %}</article>
                    <div class="author-block">
                        <div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client1.jpg') }}')"></div>

                        <strong class="name">{% trans from 'messages_2019'%}Ana Mendes Godinho{% endtrans %}</strong>
                        <small class="text-alt company">{% trans from 'messages_2019'%}Secretária de Estado do Turismo{% endtrans %}</small>
                    </div>
                </div>
            </div>
                        
                        
                        
                        
                        
                        

            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">{% trans from 'messages_2019'%}A Bolsa de empregabilidade na BTL representa não só uma excelente oportunidade para todos aqueles que estão à procura de trabalho, como também para as empresas que pretendem atrair os melhores talentos para as suas equipas.{% endtrans %}</article>
                    <div class="author-block">
                        <div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client2.jpg') }}')"></div>

                        <strong class="name">{% trans from 'messages_2019'%}Luís Araújo{% endtrans %}</strong>
                        <small class="text-alt company">{% trans from 'messages_2019'%}Presidente do Turismo de Portugal{% endtrans %}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">{% trans from 'messages_2019'%}Numa altura em que o Turismo assume um papel primordial na economia nacional e na criação de emprego, a realização da Bolsa de Empregabilidade no âmbito da BTL, é uma excelente iniciativa que permitirá, num ambiente profissional, aproximar estudantes, empregadores, profissionais do setor e todos os interessados em trabalhar no apaixonante mundo do turismo.{% endtrans %}
                    </article>
                    <div class="author-block">
                        <div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client3.png') }}')"></div>

                        <strong class="name">{% trans from 'messages_2019'%}Francisco Moser{% endtrans %}</strong>
                        <small class="text-alt company">{% trans from 'messages_2019'%}Managing Director DHM{% endtrans %}</small>
                    </div>
                </div>
            </div>
                        
                        <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">{% trans from 'messages_2019'%}Como estudante de Turismo e Gestão Hoteleira em constante busca de novas oportunidades, sei que a interação pessoal é bastante relevante no processo de recrutamento. Contudo, nem sempre é fácil chegar aos recrutadores. Na Bolsa de Empregabilidade consegui deixar de ser “mais um email” que os Diretores de RH recebem diariamente. Além de todos os contactos que fiz, arranjei um estágio na área que queria, por ter falado com um dos sócios da empresa.{% endtrans %}</article>
                    <div class="author-block">
                        <div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client4.jpg') }}')"></div>

                        <strong class="name">{% trans from 'messages_2019'%}Maria Sesinando{% endtrans %}</strong>
                        <small class="text-alt company">{% trans from 'messages_2019'%}Estudante de Turismo e Gestão Hoteleira{% endtrans %}</small>
                    </div>
                </div>
            </div>
                        
        </div>
    </div>
</section>