{# empty Twig template #}
<section id="feedback" class="section align-center" style="padding-top: 25px;">
		<div class="container">
			<h5 class="heading-alt">TESTEMUNHOS</h5>
			<p class="text-alt" style="margin-bottom: 80px;">o que as pessoas<span class="highlight"> dizem</span></p>

			<div class="row">
				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">…é isso mesmo que eu quero que aconteça ao turismo, que seja cada vez mais um motor de desenvolvimento económico, mas seja também cada vez mais um motor de criação de emprego.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client1.jpg') }}')"></div>

							<strong class="name">Ana Mendes Godinho</strong>
							<small class="text-alt company">Secretária de Estado do Turismo</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">A Bolsa de empregabilidade na BTL representa não só uma excelente oportunidade para todos aqueles que estão à procura de trabalho, como também para as empresas que pretendem atrair os melhores talentos para as suas equipas.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client2.jpg') }}')"></div>

							<strong class="name">Luís Araújo</strong>
							<small class="text-alt company">Presidente do Turismo de Portugal</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Numa altura em que o Turismo assume um papel primordial na economia nacional e na criação de emprego, a realização da Bolsa de Empregabilidade no âmbito da BTL, é uma excelente iniciativa que permitirá, num ambiente profissional, aproximar estudantes, empregadores, profissionais do setor e todos os interessados em trabalhar no apaixonante mundo do turismo.
</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('{{ asset('bundles/app/assets/img/testimonials/client3.png') }}')"></div>

							<strong class="name">Francisco Moser</strong>
							<small class="text-alt company">MANAGING DIRECTOR DHM</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>