

<style>
    
    .bg1_2018 {
  {#background-image: url("../img/backgrounds/bg1_2019.jpg");#}
  background-image: url("{{ vich_uploader_asset(background, 'imageFile') }}");
}
    

        
   
    
</style>


{# empty Twig template #}
<section id="hero" class="hero-section bg1_2018 bg-cover window-height light-text">
    		<ul class="socials-nav">
                    <li class="socials-nav-item"><a href="https://www.linkedin.com/in/f%C3%B3rum-turismo-75a73a76/"><span class="fa fa-linkedin"></span></a></li>
			{#<li class="socials-nav-item"><a href="#"><span class="fa fa-twitter"></span></a></li>#}
			<li class="socials-nav-item"><a href="https://www.facebook.com/forumturismo21/ "><span class="fa fa-facebook"></span></a></li>
			{#<li class="socials-nav-item"><a href="#"><span class="fa fa-github"></span></a></li>
			<li class="socials-nav-item"><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
			<li class="socials-nav-item"><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
			<li class="socials-nav-item"><a href="https://www.instagram.com/forumturismo/?hl=pt"><span class="fa fa-instagram"></span></a></li>
            </ul>
                        
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h5 class="heading-alt" style="margin-bottom: 8px;">
                                    <span class="fa fa-calendar-o base-clr-txt"></span>{% trans from 'messages_2018' %}02 e 03 Março{% endtrans %} <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>{% trans from 'messages_2018'%}FIL, Lisboa{% endtrans %}</h5>
				<h2 class="extra-heading">{% trans from 'messages_2018'%}Bolsa de Empregabilidade{% endtrans %}</h2>
				<h6 class="thin base-font">{% trans from 'messages_2018'%}A Maior Feira de Emprego de Turismo em Portugal{% endtrans %}</h6>
				<div class="btns-container">
					{#<a target="_blank" href="http://btl.fil.pt/visitantes/" class="btn btn-md" data-modal-link="email-ticket">Agarra a tua Oportunidade</a>#}
					<a href="https://www.youtube.com/watch?v=K4lc_iJU8yU&feature=youtu.be" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>
                                        {#<a target="_blank" href="http://btl.fil.pt/visitantes/" class="btn btn-md">Agarra a tua Oportunidade</a>#}
				</div>
			</div>
		</div>
	</section>