{# empty Twig template #}
<section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
		<div class="container">
			<h2>Regista-te na Bolsa de Empregabilidade agora!</h2>
			<p>Regista-te num mundo de oportunidades.</p>
			<br />
			<br />

			<a href="#" class="btn btn-lg btn-outline">Register</a>
		</div>
	</section>