{# empty Twig template #}
<section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
		<div class="container">
			<h2>Register to Ventcamp now!</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting <br /> industry. took a galley of type and scrambled it to make a type.</p>
			<br />
			<br />

			<a href="#" class="btn btn-lg btn-outline">Register</a>
		</div>
	</section>