{# empty Twig template #}
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <i class="fa fa-calendar fa-3x"></i>
        {#<span class="icon section-icon icon-"></span>#}
        <h3>Agenda</h3>
        <p class="text-alt">vasto número de oradores <br/> e <span class="highlight">actividades</span></p>
        <br />
        <br />

        Fica atento, em breve temos novidades.

    

    </div>

</section>