{# empty Twig template #}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Empresas <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Oradores</a></li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">Sponsors</a></li>
    </ul>

</div>